.nav{
   background-color: aquamarine;
}

.main_banner {
   background-color: blue;
}

.what_we_do {
   background-color: yellowgreen;
}

.where_are_we {
   background-color: orangered;
}

footer {
   background-color: brown;
}

.main_banner > .carousel > .hero_txt {
   position: absolute;
    margin-top: 20vh;
    margin-left: 5vh;
    margin-right: 10vh;
    color: white;
    height: auto;
    width: auto;
    z-index: 2;
}