.nav{
   background-color: aquamarine;
}

.main_banner {
   background-color: blue;
}

.what_we_do {
   background-color: yellowgreen;
}

.where_are_we {
   background-color: orangered;
}

footer {
   background-color: brown;
}
