.nav{
   background-color: aquamarine;
}

.main_banner {
   background-color: blue;
}

.what_we_do_act {
   background-color: yellowgreen;
   height: 25rem;
   display: flex;
   justify-content: space-around;
   padding: 3rem;
}

.what_we_do_act_head {
   padding-bottom: 1.5rem;
   text-align: center;
}

.what_we_do_act_txt {
   text-align: center;
   padding: 1.5rem;

}

.where_are_we {
   background-color: orangered;
}

footer {
   background-color: brown;
}

.footer_items {
   display: flex;
   justify-content: space-around;
}
.main_banner > .carousel > .hero_txt {
   position: absolute;
    margin-top: 20vh;
    margin-left: 5vh;
    margin-right: 10vh;
    color: white;
    height: auto;
    width: auto;
    z-index: 2;
}

.carousel-inner {
   height: 35rem
}

.footer_item_info {
   display: flex;
   flex-direction: column;
   
}

.footer_item_social >.social_icon {
   display: flex;
   flex-direction: row;
}

.footer_item_social >.social_icon > .social_icon_img {
   padding: 2rem;
   list-style: none;
}

.footer_item_social >.social_icon > .social_icon_img > img {
   height: 2.5rem;
}

.address_head > img {
   height: 4rem;
}

.contact_head > img {
   height: 4rem;
}

.social_icon {
   width: 33%;
}
